.body {
   text-align: center;
   background-image:url(galaxy.jpg)  ; 
   font-family:'Orbitron', sans-serif;

}


.h1 {

text-align: center;
margin:100px auto; 
font-size: 100px;
color: aliceblue;
 
}


.btn {
   text-align:center;
   margin:100px auto;
   padding: 10px 5px;
   border-radius: 10px;
   font-family:'Orbitron', sans-serif; 


}   


.logo {
    width: 150px;
    background-color:white;
    
    

}

.h3 {

  font-size: 20px;
  color: aliceblue;  

}
