.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 14px;
    
}

.btn {
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

.slider {
    margin: 12px ;
    width: 100vh;
    padding: 0 200px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 91vw;
    margin: auto;
    font-family: 'Libre Baskerville', serif;
    padding-left: 833px;
}

.img2 {
    border-radius: 5px;
}

.card-item {
    display: flex;
}

